<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>日記登録ページ</title>
</head>
<body>
	<h1>日記の登録</h1>
	<form action="" method="POST">
		{% csrf_token %}
		<input type="text" name="title" placeholder="タイトルを入力">
		<br>
		<input type="text" name="detail" placeholder="内容を入力">
		<br>
		<input type="date" name="created" placeholder="日付">
		<br>
		<input type="submit" value="登録する">
	</form>
	<a href="#">変更へ</a>
	<br>
	<a href="{% url 'index' %}">一覧へ</a>
</body>
</html>
