<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>日記一覧ページ</title>
</head>
<body>
	<h1>日記の詳細</h1>
	<p>{{ diary.title }}</p>
	<p>{{ diary.detail }}</p>
	<p>{{ diary.created }}</p>
	<a href="#">変更へ</a>
	<br>
	<a href="{% url 'index' %}">一覧へ</a>
</body>
</html>
