{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href= "{% static 'css/style.css' %}" >
	<title>日記一覧ページ</title>
</head>
<body>
	<h1>日記の一覧</h1>
	<br>
	<a href="{% url 'create' %}">登録する</a>
	<table>
		{% for diary in diaries %}
		<tr>
			<td><a href="{% url 'detail' diary.id %}" class="title">{{ diary.title }}</a></td>
			<td><a href="#" class="edit">変更</a></td>
			<td><a href="#" class="delete">削除</a></td>
		</tr>
		{% endfor %}
		<!-- {% for item in items %}
		<tr>
			<td id="title"><a href="">{{ item }}</a></td>
			<td id="edit"><a href="">変更</a></td>
			<td id="delete"><a href="">削除</a></td>
		</tr>
		{% endfor %} -->
		<!-- <tr>
			<td>{{d1}}</td>
			<td>変更</td>
			<td>削除</td>
		</tr>
		<tr>
			<td>{{d2}}</td>
			<td>変更</td>
			<td>削除</td>
		</tr>
		<tr>
			<td>{{d3}}</td>
			<td>変更</td>
			<td>削除</td>
		</tr> -->
	</table>
</body>
</html>
